= render 'header'

/ ROW
.row
  .col-md-1

  .col-md-8
    .content_wrap
      .content

        =form_for :question, url: questions_path do |f|
          - if @question.errors.any?
            #error_explanation
              %h2
                = pluralize(@question.errors.count, "error")
                %br このままでは投稿ができません。
              %ul
                - @question.errors.full_messages.each do |msg|
                  %li= msg

          %p
            = f.text_field :title, :class => "input form-control", :placeholder => "質問のタイトル", :type => "text"
          %p
            = f.text_area :content, :class => "textarea form-control", :placeholder => "質問の内容", :rows => "12"


          %p
            .category1
              .space10px
              カテゴリー（複数選択可能）
              %br
                %label.checkbox-inline
                  %input#inlineCheckbox3{:type => "checkbox", :value => "option3"}
                    進路/受験
                %label.checkbox-inline
                  = f.check_box :category1, {multiple: true}, :value => "1", :class => "label checkbox-inline"
                  進路/受験
                  = f.check_box :category1, {multiple: true}, :value => true, :class => "label checkbox-inline"


                %label.checkbox-inline
                  %input#inlineCheckbox3{:type => "checkbox", :value => "option3"}
                    学校/塾評判
                %label.checkbox-inline
                  %input#inlineCheckbox3{:type => "checkbox", :value => "option3"}
                    大学評判
                %br
                  %label.checkbox-inline
                    %input#inlineCheckbox1{:type => "checkbox", :value => "option1"}
                      IB PYP
                  %label.checkbox-inline
                    %input#inlineCheckbox2{:type => "checkbox", :value => "option2"}
                      IB MYP
                  %label.checkbox-inline
                    %input#inlineCheckbox2{:type => "checkbox", :value => "option2"}
                      IB DP
                  %label.checkbox-inline
                    %input#inlineCheckbox3{:type => "checkbox", :value => "option3"}
                      課外活動/CAS
                  %label.checkbox-inline
                    %input#inlineCheckbox3{:type => "checkbox", :value => "option3"}
                      TOK/EE
                  %br
                    %label.checkbox-inline
                      %input#inlineCheckbox1{:type => "checkbox", :value => "option1"}
                        英語勉強
                    %br
                      %label.checkbox-inline
                        %input#inlineCheckbox1{:type => "checkbox", :value => "option1"}
                          試験勉強
                      %br
                        .space10px
            .category2
              .space10px
              この質問に答えてほしい人（複数選択可能）
              %br
                %label.checkbox-inline
                  %input#inlineCheckbox3{:type => "checkbox", :value => "option3"}
                    IB生
                %label.checkbox-inline
                  %input#inlineCheckbox3{:type => "checkbox", :value => "option3"}
                    IB生の親
                %labe.checkbox-inline
                  %input#inlineCheckbox3{:type => "checkbox", :value => "option3"}
                    そのほかの親
                %label.checkbox-inline
                  %input#inlineCheckbox3{:type => "checkbox", :value => "option3"}
                    教育関係者
                %br
                  .space10px
            %input.form-control{:placeholder => "キーワード", :type => "text"}
              %input.form-control{:placeholder => "キーワード", :type => "text"}
                %input.form-control{:placeholder => "キーワード", :type => "text"}
                  .space10px
                  .space10px
                  .file
                    添付ファイルを選択
                    %input{:type => "file"}/
          %p
            .box_button
              = f.submit '匿名で質問する', :class => "a btn btn-default"
  / CONTENT end

  .sidebar.col-md-3
    = render 'sidebar'

= render 'footer'