= render 'header'

.row
  .col-md-1
  .col-md-8
    / CONTENT
    .content_wrap
      .content
        .space10px
        %h3 すべての質問一覧
        .space10px
        %ul
          %li.float.indextop1 質問
          %li.float.indextop2 詳細
          %li.float.indextop3 投稿時
          %li.float.indextop4 回答数
        .clear
        %ul
          - @questions.each do |question|
            %li.indexcontentbox
              = link_to(question) do
                .float.indexcontent.indexcontent1= question.title[0,14]
                .float.indexcontent.indexcontent2= question.content[0,6]
                .float.indexcontent.indexcontent3= question.created_at
                .float.indexcontent.indexcontent4= "回答数"
                .clear

  .sidebar.col-md-3
    = render 'sidebar'

= render 'footer'
